@font-face {
  src: url("here-lies-mecc.ttf");
}

#text8 {
  -fx-font-family: 'Here Lies MECC Regular';
  -fx-font-size: 8pt;
}

#text10 {
  -fx-font-family: 'Here Lies MECC Regular';
  -fx-font-size: 10pt;
}

#text12 {
  -fx-font-family: 'Here Lies MECC Regular';
  -fx-font-size: 12pt;
}

#text14 {
  -fx-font-family: 'Here Lies MECC Regular';
  -fx-font-size: 14pt;
}

#text16 {
  -fx-font-family: 'Here Lies MECC Regular';
  -fx-font-size: 16pt;
}

#text18 {
  -fx-font-family: 'Here Lies MECC Regular';
  -fx-font-size: 16pt;
}

#text20 {
  -fx-font-family: 'Here Lies MECC Regular';
  -fx-font-size: 20pt;
}
